@keyframes pulsoPreschool {
  from {
    box-shadow: 0 0 0 0 #ebcb16;
  }
  70% {
    box-shadow: 0 0 0 $radio #ebcb1600;
  }
  to {
    box-shadow: 0 0 0 0 #ebcb1600;
  }
}

@keyframes pulsoPimary {
  from {
    box-shadow: 0 0 0 0 #04aa6d;
  }
  70% {
    box-shadow: 0 0 0 $radio #04aa6d00;
  }
  to {
    box-shadow: 0 0 0 0 #04aa6d00;
  }
}

@keyframes pulsoHighschool {
  from {
    box-shadow: 0 0 0 0 #67b2c4;
  }
  70% {
    box-shadow: 0 0 0 $radio #67b2c400;
  }
  to {
    box-shadow: 0 0 0 0 #67b2c400;
  }
}

@keyframes pulsoWork {
  from {
    box-shadow: 0 0 0 0 rgba(219, 182, 133, 1);
  }
  70% {
    box-shadow: 0 0 0 $radio rgba(219, 182, 133, 0);
  }
  to {
    box-shadow: 0 0 0 0 rgba(219, 182, 133, 0);
  }
}
