/*
@mixin dots($count) {
  $text-shadow: ();

  @for $i from 0 through $count {
    $text-shadow: $text-shadow,
    (-.3+(random()) * 8)+em (-.3+(random()) * 8)+em 95px hsla(random() * 78, 100%, 50%, .9);
  }

  text-shadow: $text-shadow;
}
*/

::selection {
  background-color: #9cadac9a;
  color: #e2e2e2;
}

html {
  box-sizing: border-box;
  height: 100%;
  background: rgba(11, 14, 223, 0.641)
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
head {
  display: block;
  margin: 0;
  padding: 0;
  font-family: $fuentePrincipal;
  color: transparent;
}

/*
head::before,
head::after,
body::before,
body::after {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 3em;
  height: 3em;
  content: '.';
  mix-blend-mode: screen;
  animation: 64s -47s move infinite ease-in-out alternate;
}


body::before {
  @include dots(20);
  animation-duration: 64s;
  animation-delay: -32s;
}

body::after {
  @include dots(20);
  animation-duration: 63s;
  animation-delay: -32s;
}

head::before {
  @include dots(20);
  animation-duration: 62s;
  animation-delay: -32s;
}

head::after {
  @include dots(20);
  animation-duration: 61s;
  animation-delay: -32s;
}


@keyframes move {
  from {
    transform: rotate(0deg) scale(97) translateX(-20px);
  }

  to {
    transform: rotate(360deg) scale(98) translateX(20px);
  }
}

*/

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.rango {

  &::-webkit-slider-thumb,
  &::-moz-slider-thumb {
    appearance: none;
  }
}

button.br {

  &::before,
  &::after {
    display: none !important;
  }
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.4em;
  line-height: 1.2;
}

a {
  text-decoration: none;
  color: rgb(20, 20, 20);
  font-weight: bold;
}