$altoColumna: 100vh;

::selection {
  background-color: #9cadac9a;
  color: #e2e2e2;
}
html {
  box-sizing: border-box;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue',
    sans-serif;
  background: linear-gradient(to bottom, #284542, #67b2c4);
  color: #fafafa;
}

#app {
  display: flex;
}

#entradas {
  font-size: 1.2em;
  display: flex;
  flex-direction: column;
  width: 40vw;
  padding: 2em;

  .entrada {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

input[type='number'] {
  appearance: textfield;
  max-width: 6rem;
  padding: 1em;
  border: none;
  border-width: 0 2px;
  font-size: 1.2em;
  height: 2rem;
  text-align: center;
  background-color: #fafafa8c;

  &:focus-visible,
  &:focus {
    outline: none;
    background-color: #fafafab4;
  }
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

input[type='radio'] {
  appearance: none;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  border: 1px solid #072b2b;
  transition: 0.2s all linear;
  margin-right: 5px;
  position: relative;
  top: 4px;
  cursor: pointer;

  & + label {
    color: #072b2b;
  }

  &:checked {
    border: 8px solid rgb(248, 248, 248);

    & + label {
      color: #e9f7f5;
    }
  }
}

input[type='range'] {
  appearance: none;
  outline: none;
  background: transparent;

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 2px solid white;
    cursor: grab;
    box-shadow: 0 0 2px 0 #555;
    transition: border 0.2s linear;

    &:hover {
      border: 10px solid;
    }
  }
}

.rango {
  &::-webkit-slider-thumb,
  &::-moz-slider-thumb {
    appearance: none;
  }
}
.hidden {
  pointer-events: none;
  opacity: 0.4;
}
.seleccion {
  list-style: none;
  display: flex;
  position: relative;

  li {
    display: flex;
    &:hover {
      color: #fff;
    }
  }

  label {
    display: flex;
    cursor: pointer;
  }
}

.respuesta {
  display: flex;
}

.entradaNumerica {
  display: inline-flex;

  button {
    outline: none;
    appearance: none;
    background-color: transparent;
    border: none;
    align-items: center;
    justify-content: center;
    width: 2rem;
    cursor: pointer;
    margin: 0;
    position: relative;
    background-color: #dff3f13a;

    &:hover {
      background-color: #92726a9c;
    }
  }

  button:before,
  button:after {
    display: inline-block;
    position: absolute;
    content: '';
    width: 1rem;
    height: 2px;
    background-color: #e9e9e9;
    transform: translate(-50%, -50%);
  }

  button.sumar:after {
    transform: translate(-50%, -50%) rotate(90deg);
  }
}

#resultado {
  padding: 2em;
  width: 60vw;
  #porcentaje {
    display: block;
    width: 100%;
    height: 20px;
    background-color: #67b2c4;
  }
  #porcentajeAvanzado {
    display: block;
    width: 0.1%;
    height: 20px;
    background-color: #04aa6d;
  }
}
#buttonEnviardatos {
  outline: none;
  appearance: none;
  background-color: transparent;
  border: none;
  align-items: center;
  justify-content: center;
  width: 6rem;
  margin: 0;
  position: relative;
  background-color: #dff3f13a;
}
.btn-disable {
  cursor: not-allowed;
  pointer-events: none;

  /*Button disabled - CSS color class*/
  color: #c0c0c0;
  background-color: #ffffff;
}
.btn-enabled {
  cursor: pointer;
  pointer-events: all;

  color: #fff;
  background-color: #dff3f13a;
}
#informacionContextual {
  background-color: blue;
  width: 100%;
}
